@import url(https://mozilla.github.io/mofo-bootstrap/dest/css/mofo-bootstrap.css);

@font-face {
  font-family: 'FontAwesome';
  src: url('https://mozilla.github.io/schedule-app-core/fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('https://mozilla.github.io/schedule-app-core/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('https://mozilla.github.io/schedule-app-core/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('https://mozilla.github.io/schedule-app-core/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('https://mozilla.github.io/schedule-app-core/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('https://mozilla.github.io/schedule-app-core/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-heart:before {
  content: "\f004";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-mode .main-heading,
.search-mode #schedule-controls,
.search-mode #page-links,
.search-mode .search-icon,
.search-cancel {
  display: none;
}

.search-mode .search-cancel {
  display: block;
}

.detail-view header,
.detail-view .main-heading,
.detail-view #schedule-controls {
  display: none;
}
 
.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding:  0 2rem;
}

nav {
  background: #F5F5F5;
  padding: 1rem 0;
  overflow: hidden;
}

nav .logo {
  display: inline-block;
  float: left;
  cursor: pointer;
}

#nav-links {
  display: inline-block;
  float: right;
  margin-top: 1.5rem;
}

#page-links {
  display: inline-block;
}

#page-links a {
  display: inline-block;
  margin-left: 2rem;
  text-transform: uppercase;
}

#page-links a.active {
  color: #CF455D;
}

#search {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  text-transform: none;
}


h1 {
  text-align: center;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  color: #CF455D;
  margin-top: 0;
}

h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}

input {
  padding: 5px;
}

header a {
  white-space: nowrap;
}

p {
  font-size: 1rem;
}

.btn {
  display: inline-block;
  background: #CF455D;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background: #CF455D;
}

#schedule {
  margin: 2rem 0 4rem 0;
}

#schedule-controls {
  clear: both;
  margin: 1rem auto;
}

#schedule-controls ul {
  font-size: 2.5rem;
  padding: 0;
  list-style: none;
  width: 100%;
}

#schedule-controls li {
  display: inline-block;
}
#schedule-controls li:first-child a {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
#schedule-controls li:last-child a {
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-right: none;
}
#schedule-controls a {
  text-align: center;
  display: block;
  padding: 1rem 0;
  color: #fff;
  background-color: #D1D3D3;
  text-decoration: none;
  border-right: 2px solid #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
}
#schedule-controls a.active {
  background-color: #CF455D;
}

.schedule-tab,
.page-block {

}

.page-caption h2 {
  text-transform: uppercase;
  color: inherit;
}

.schedule-tab h3,
.page-caption h3 {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 2rem 0;
  text-align: center;
  z-index: 1;
  clear: both;
}
.schedule-tab h3 span,
.page-caption h3 span {
  padding: 0 2rem;
  background: #fff;
}
.schedule-tab h3:before,
.page-caption h3:before {
  content: "";
  border-top: 1px solid #C9CCCC;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
}
.slider {
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.schedule-tab h3 .fa {
  text-decoration: none;
  float: right;
  font-size: 2rem;
  padding: .3rem .1rem .5rem .8rem;
}
h3.slider-control {
  cursor: pointer;
}

.session-detail {
  position: relative;
}
.session-detail .header {
  padding: 0 1.5rem;
  position: relative;
}
.session-detail .favorite {
  top: 1rem;
  right: 1.5rem;
}
.session-detail .meta {
  background-color: #F5F5F5;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}
.session-detail h2 {
  text-align: left;
  color: #55565A;
}

.session-list-item,
.open-block,
.tag-list-item  {
  display: block;
  clear: both;
  position: relative;
  padding: 2rem;
  margin: 0 0 3rem 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #F5F5F5;
}

.session-list-item,
.tag-list-item {
  color: #55565A;
  text-decoration: none;
}

.session-list-item h4 {
  margin-right: 2.5rem;
}

.all-sessions .session-description {
  word-wrap: break-word;
}

.page-control {
  display: block;
  text-decoration: none;
  margin-right: 2%;
  float: right;
  cursor: pointer;
}
a.page-control {
  color: #CF455D
}

#filter-form {
  padding: 0;
  margin-bottom: 3rem;
  width: 100%; 
}

#filter-form input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 1rem;
  border: none;
}

#no-results {

}

.session-description ul {

}

.favorite {
  color: #CF455D;
  font-size: 1.8rem;
  position: absolute;
  cursor: pointer;
  width: 2.4rem;
  top: 2rem;
  right: 2rem;
  line-height: 1;
  text-align: center;
}

.favorite-active .fa-heart-o:before {
  content: "\f004";
}

.session-detail .favorite-active {

}

.session-facilitators,
.session-time,
.session-category-and-location,
.session-tags {
  position: relative;
  padding-left: 25px;
  text-transform: capitalize;
}

.session-facilitators:before,
.session-time:before,
.session-category-and-location:before,
.session-tags:before {
  display: block;
  content: "";
  background-size: 20px auto;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}

.session-facilitators:before {
  background-image: url(https://mozilla.github.io/schedule-app-core/img/icon-facilitator.svg);
}

.session-time:before {
  background-image: url(https://mozilla.github.io/schedule-app-core/img/icon-clock.svg);
}

.session-category-and-location:before {
  background-image: url(https://mozilla.github.io/schedule-app-core/img/icon-category.svg);
}

.session-tags:before {
  background-image: url(https://mozilla.github.io/schedule-app-core/img/icon-tag.svg);
}

.session-notes-url {
  text-align: center;
}

.session-length-short {

}

.favorites .session-length-short,
.all-sessions .session-length-short {
  float: none;
  clear: both;
  width: auto;
  min-height: 0;
}

.session-length-long {

}

.session-everyone {
  border-bottom: 10px solid #CF455D;
}

.session-ghost {
  opacity: .4;
}

.open-block {
  cursor: default;
  pointer-events: none;
  text-align: center;
}

.session-time {

}
.session-category-and-location {

}

#show-full-schedule {
  display: block;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-decoration: none;
}

#show-full-schedule::before {
  content: "<";
  display: inline-block;
  margin-right: 10px;
}

#show-full-schedule:hover {
  text-decoration: underline;
}

.category-list-item {
  padding: 2rem;
}

.category-list-item .category-icon-container {
  float: left;
  padding-left: 1rem;
  padding-right: 2rem;
}

.category-list-item .category-icon-container img {
  width: 12rem;
  height: auto;
}

.category-list-item:nth-child(2n+1) {
  background: #f5f5f5;
}

.category-list-item p:last-child,
.tag-list-item p:last-child {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.clearfix:before,
.clearfix:after,
.page-block:before,
.page-block:after {
  content: " ";
  display: table;
}
.clearfix:after,
.page-block:after {
  clear: both;
}
.clearfix,
.page-block {
  *zoom: 1;
}


.loading span {
  animation-name: pulse;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  font-size: 150%;
}
.loading span:nth-child(2) {
  animation-delay: .2s;
}
.loading span:nth-child(3) {
  animation-delay: .4s;
}
@keyframes pulse {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 5px;
  }
  body {
    font-size: 3rem;
  }
  .schedule-tab h3 span {
    width: auto;
    margin-left: 0;
    text-align: left;
  }
  .container {
    padding: 0 4rem;
  }
  .page-control {
    display: inline-block;
    padding: 0;
    margin: 0 0 2em 0;
  }
  .favorite {
    right: 4rem;
    font-size: 4rem;
  }
  .session-detail .header {
    padding: 3rem;
  }
  .session-facilitators:before {
    top: 2px;
  }

  .session-time:before {
    top: 2px;
  }

  .session-category-and-location:before {
    top: 3px;
  }

  .session-tags:before {
    top: 2px;
  }

  h2 {
    font-size: 4rem;
  }

  #schedule-controls a,
  .schedule-tab h3, 
  .page-caption h3,
  .schedule-tab h3 .fa {
    font-size: 3.5rem;
  }

  h4 {
    font-size: 3rem;
  }

  .schedule-tab h3, 
  .page-caption h3 {
    margin: 3rem 0;
  }

  p {
    font-size: inherit;
    line-height: 1;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 0 2rem;
  }
  nav {
    text-align: center;
  }
  nav .logo {
    float: none;
  }
  #nav-links {
    display: block;
    float: none;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .session-description {
    line-height: 1.4;
  }
}

@media only screen and (max-width: 420px) {

}
