@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-heart:before {
  content: "\f004";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-cc:before {
  content: "\f20a";
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    color: #55565A;
    font-size: 1.8rem;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
a {
    color: #184774;
}

nav {
    background: #F5F5F5;
    padding: 2.5rem 0;
    overflow: hidden;
}

nav .logo {
    display: inline-block;
    float: left;
}

nav .page-links {
    display: inline-block;
    float: right;
    margin-top: 3rem;
}

nav .page-links a {
    display: inline-block;
    margin-left: 2rem;
    text-transform: uppercase;
    color: #55565A;
    font-weight: 700;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 4.2rem;
    font-weight: 800;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    font-size: 3.5rem;
    color: #B94D60;
    margin-top: 0;
}

header a {
    white-space: nowrap;
}

#schedule {
    margin: 5rem 0 10rem 0;
}

#schedule-controls {
    clear: both;
    font-family: "Open Sans", sans-serif;
    margin: 3rem auto;
}

#schedule-controls ul {
    font-size: 3.1rem;
    padding: 0;
    list-style: none;
    width: 100%;
}

#schedule-controls li {
    display: inline-block;
}
#schedule-controls li:first-child a {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
#schedule-controls li:last-child a {
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}
#schedule-controls a {
    text-align: center;
    display: block;
    padding: 3rem 0;
    color: #fff;
    background-color: #D1D3D3;
    text-decoration: none;
    border-right: 2px solid #fff;
    text-transform: uppercase;
}
#schedule-controls a.active {
    background-color: #D93F5F;
}

.schedule-tab,
.page-block {

}

.schedule-tab h3 {
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #B94D60;
    margin: 7rem 0 5rem 0;
}
.schedule-tab h3 span {
    font-family: "Open Sans", sans-serif;
    color: #B94D60;
    background-color: #fff;
    font-size: 3.5rem;
    margin-top: -2.5rem;
    padding-right: 1.5rem;
    float: left;
}

#session-detail-wrapper {
    /*background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;*/
}
.session-detail {
    position: relative;
}
.session-detail .header {
    padding: 4rem;
    position: relative;
}
.session-detail .meta {
    background-color: #F5F5F5;
    padding: 1.5rem;
}
.session-detail h2 {
    margin: 0 0 .5rem 6rem;
    line-height: 1.2;
    font-size: 4.2rem;
    font-weight: 800;
    text-align: left;
    color: #55565A;
}

.session-list-item,
.open-block {
    display: block;
    clear: both;
    position: relative;.
    cursor: pointer;
    padding: 4rem;
    margin: 0 0 3rem 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #F5F5F5;
}

.session-list-item {
    color: #55565A;
    text-decoration: none;
}

.session-list-item h4 {
    margin: 0 0 2rem 6rem;
    line-height: 1.2;
    font-size: 4.2rem;
    font-weight: 800;
}

.session-list-item p {
}

.all-sessions .session-list-item {
    padding: 4rem;
    background-color: #fff;
    border-bottom: 1px solid Gainsboro;
}

.all-sessions .session-list-item p {
    
}

.all-sessions .session-description {
    word-wrap: break-word;
}

#show-descriptions {
    padding: 2.5rem 0 0;
    display: block;
    text-decoration: none;
    margin-right: 2%;
    float: right;
}
#show-descriptions i {
    color: #fc6e1f;
}

#filter-form {
    padding: 0;
    width: 50%;
    float: left;
}

#filter-form input {
    display: block;
    width: 100%;
    margin-top: .5rem;
}
#no-results {

}

.session-description ul {

}

.favorite {
    color: #B94D60;
    font-size: 4.2rem;
    position: absolute;
    cursor: pointer;
    top: 4rem;
    left: 4rem;
    line-height: 1;
    margin-top: .7rem;
    text-align: center;

}

.session-detail .favorite,
.all-sessions .favorite {
    
}

.favorite-active .fa-heart-o:before {
    content: "\f004";
}

.session-detail .favorite-active {

}

.session-length-short {

}

.favorites .session-length-short,
.all-sessions .session-length-short {
    float: none;
    clear: both;
    width: auto;
    min-height: 0;
}

.session-length-long {
    
}

.session-everyone,
.open-block {

}

.session-ghost {
    opacity: .4;
}

.open-block {
    cursor: default;
    pointer-events: none;
    text-align: center;
}

.overline {
    clear: both;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.overline a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #ccc;
}
.overline a:hover {
    border-color: inherit;
}

.session-time {

}
.session-space {

}

#show-full-schedule {
    display: block;
    font-size: 3.4rem;
    color: #B94D60;
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.clearfix:before,
.clearfix:after,
.page-block:before,
.page-block:after {
    content: " ";
    display: table;
}
.clearfix:after,
.page-block:after {
    clear: both;
}
.clearfix,
.page-block {
    *zoom: 1;
}


@media only screen and (max-width: 767px) {
    html {
        font-size: 5px;
    }
    body {
        font-size: 3rem;
    }
    .schedule-tab h3 span {
        width: auto;
        margin-left: 0;
        text-align: left;
    }
    .container {
        padding: 0 4rem;
    }
    .schedule-tab h3,
    .session-list-item {
        margin-right: 0;
    }
    header {
        margin-left: 0;
    }
    #schedule-controls {
        width: 100%;
        margin: 0 0 3em 0;
    }
    #schedule-controls ul {
        padding-right: 0;
    }
    #filter-form {
        width: 100%;
    }
    #show-descriptions {
        display: inline-block;
        padding: 0;
        margin: 0 0 2em 0;
    }
}


@media only screen and (max-width: 540px) {

    .session-detail .session-room {
        display: block;
    }
}

@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 420px) {

}
