@import url(https://code.cdn.mozilla.net/fonts/fira.css);
@import url(mofo-bootstrap.css);
@import url(font-awesome.css);

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-heading,
#schedule-controls,
#page-links,
.search-cancel,
.search-mode #page-links,
.search-mode .search-icon {
  display: none;
}

.day-view .main-heading,
.day-view #schedule-controls,
.day-view .search-icon,
.search-mode .search-cancel {
  display: block;
}

.day-view #page-links {
  display: inline-block;
}


.detail-view #schedule {
  margin: 0;
}

.detail-view header,
.detail-view #schedule-controls {
  display: none;
}
 
.container {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1rem;
}

nav {
  background: #F5F5F5;
  padding: 1rem 0;
  overflow: hidden;
  text-align: center;
}

nav .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  cursor: pointer;
}

#nav-links {
  margin-top: 1rem;
}

#page-links {
  display: inline-block;
}

#page-links a {
  display: inline-block;
  margin-right: 2rem;
  text-transform: capitalize;
  cursor: pointer;
}

.day-view #schedule-page-link,
#nav-links a:hover,
#nav-links a.active {
  color: #CF455D;
}

#nav-links a:hover {
  text-decoration: none;
}

#search {
  display: inline-block;
  cursor: pointer;
  text-transform: none;
}

.main-heading {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  letter-spacing: normal;
}

h1 {
  margin-bottom: 0;
  font-size: 2rem;
}

h2 {
  color: #CF455D;
  margin-top: 0;
  font-size: 1.5rem;
}

h2.subhead {
  font-size: 1rem;
}

h3 {
  font-weight: 400;
}

h4 {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

input {
  padding: 5px;
}

header a {
  white-space: nowrap;
}

p {
  font-size: 1rem;
}

.btn {
  display: inline-block;
  background: #CF455D;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background: #CF455D;
}

#schedule {
  margin: 2rem 0 4rem 0;
}

#schedule-controls ul {
  font-size: 2.5rem;
  padding: 0;
  list-style: none;
  width: 100%;
}

#schedule-controls li {
  display: inline-block;
  margin: 0;
}
#schedule-controls li:first-child a {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#schedule-controls li:last-child a {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: none;
}
#schedule-controls a {
  text-align: center;
  display: block;
  padding: 6px 0;
  color: #fff;
  background-color: #D1D3D3;
  text-decoration: none;
  border-right: 5px solid #fff;
  text-transform: capitalize;
}
#schedule-controls a.active {
  background-color: #CF455D;
}

.page-caption h2 {
  text-transform: uppercase;
  color: inherit;
}

.timeblock-header {
  position: relative;
  font-size: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.timeblock-header span {
  padding-right: 1rem;
  font-size: 1rem;
  position: relative;
  bottom: 5px;
  background: white;
}
.timeblock-header:before {
  content: "";
  border-top: 1px solid #555;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
}
.slider {
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.timeblock-header .fa {
  text-decoration: none;
  float: right;
  font-size: 1.3rem;
  padding: .5rem .1rem .5rem .8rem;
  background: white;
}

.session-detail {
  position: relative;
  background: #fff;
  margin: 0 -1rem;
  padding: 1.5rem 1rem;
}

.session-detail .favorite {
  top: 1rem;
}

.session-card .meta,
.session-detail .meta {
  color: #ADADAD;
  font-weight: 300;
}

.session-detail .meta {
  margin-bottom: .5rem;
}

.session-card,
.open-block,
.category-list-item,
.tag-list-item {
  padding: 15px 10px;
}

.session-card,
.open-block,
.tag-list-item {
  display: block;
  position: relative;
  margin: 0 0 1rem 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #F5F5F5;
}

.session-card h4.
.session-detail h4 {
  margin-right: 2.5rem;
}

.session-card h4 a,
.session-detail h4 {
  font-weight: 500;
}

.session-notes-url a {
  border-color: #CF455D;
  color: #CF455D;
  background: none;
  width: 100%;
  text-transform: capitalize;
}

.session-notes-url a:hover {
  color: white;
}

#filter-form {
  padding: 0;
  margin-bottom: 3rem;
  width: 100%; 
}

#filter-form input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
}

#no-results {

}

.session-description ul {

}

.favorite {
  color: #CF455D;
  font-size: 1.2rem;
  position: absolute;
  cursor: pointer;
  width: 1.6rem;
  top: 15px;
  right: 10px;
  line-height: 1;
  text-align: center;
}

.favorite-active .fa-heart-o:before {
  content: "\f004";
}

.session-detail .favorite-active {

}

.session-facilitators,
.session-time,
.session-category-and-location,
.session-tags {
  position: relative;
  padding-left: 25px;
  text-transform: capitalize;
}

.session-facilitators:before,
.session-time:before,
.session-category-and-location:before,
.session-tags:before {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  text-align: center;
}

.session-facilitators:before {
  content: "\f007";
  font-family: "FontAwesome";
}

.session-time:before {
  content: "\f017";
  font-family: "FontAwesome";
}

.session-category-and-location:before {
  content: "\f041";
  font-family: "FontAwesome";
}

.session-tags:before {
  content: "\f277";
  font-family: "FontAwesome";
}

.session-notes-url {
  text-align: center;
}

.session-length-short {

}

.session-length-long {

}

.session-everyone {
  border-bottom: 10px solid #CF455D;
}

.session-ghost {
  opacity: .4;
}

.open-block {
  cursor: default;
  pointer-events: none;
  text-align: center;
}

.session-time {

}
.session-category-and-location {

}

#show-full-schedule {
  display: block;
  margin: 0 -1rem 1rem -1rem;
  padding: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  background: #F5F5F5;
}

#show-full-schedule::before {
  content: "\f104";
  font-family: "FontAwesome";
  display: inline-block;
  margin-right: 10px;
}

#show-full-schedule:hover {
  text-decoration: underline;
}

.category-list-item {
  margin-bottom: 1rem;
}

.category-list-item .category-icon-container {
  float: left;
  padding-left: 1rem;
  padding-right: 2rem;
}

.category-list-item .category-icon-container img {
  width: 12rem;
  height: auto;
}

.category-list-item:nth-child(2n+1) {
  background: #f5f5f5;
}

.category-list-item p:last-child,
.tag-list-item p:last-child {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.loading span {
  animation-name: pulse;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  font-size: 150%;
}
.loading span:nth-child(2) {
  animation-delay: .2s;
}
.loading span:nth-child(3) {
  animation-delay: .4s;
}
@keyframes pulse {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}



@media screen and (min-width: 768px) { 
  nav .container {
    flex-direction: row;
  }
  #nav-links {
    margin-top: 0rem;
  }
  .timeblock {
    margin: 0;
  }
  .session-notes-url a {
    box-sizing: border-box;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}
