/* *** finalized 2016 colours
  blue #362FC1
  light purple #998CEC
  teal #00FBDD
  pink #FA1BAB
*** */

body,
.timeblock-header span, 
.page-caption h3 span,
.timeblock-header .fa {
  background: #F5F5F5;
}

#schedule-controls a {
  border-color: #F5F5F5;
}


/* *****
  blue 
***** */

nav,
#show-full-schedule,
#schedule-controls a.active {
  background: #362FC1; 
}

.timeblock-header, 
.page-caption h3 span {
  color: #362FC1;
}
}

.timeblock-header::before, 
.page-caption h3::before {
  border-color: #362FC1;
}

#show-full-schedule {
  color: #fff;
}

.label {
  background: #362FC1;
}

/* *****
  light purple 
***** */

#nav-links a,
#nav-links a:link {
  color: #998CEC;
}

#schedule-controls a {
  background: #998CEC;
}

/* *****
  pink 
***** */

a,
a:link,
a:focus,
a:hover,
.session-card h4 a,
.favorite,
.category-list-item h4,
.category-list-item:after,
.session-notes-url a {
  color: #FA1BAB;
}

.session-notes-url a {
  border-color: #FA1BAB
}

.session-notes-url a:hover {
  background: #FA1BAB;
}


/* *****
  grey 
***** */

h2.subhead,
.session-detail h2 {
  color: #7A7A7A;
}

.session-card, 
.tag-list-item,
#search {
  color: #ADADAD;
}


/* *****
  white 
***** */

.day-view #schedule-page-link,
#nav-links a:hover,
#nav-links a.active,
.search-mode #search {
  color: #fff;
}

.session-card, 
.open-block, 
.tag-list-item,
.category-list-item,
.session-detail .meta {
  background: #fff;
}

