$white: #fff;
$bg-white: #F5F5F5;
$text-light-grey: #7A7A7A;
$dark-text-grey: #48484A;

// finalized 2016 colours
$blue: #362FC1;
$light-purple: #998CEC;
$teal: #00FBDD;
$pink: #FA1BAB;


$card-padding-top: 15px;
$card-padding-bottom: $card-padding-top;
$card-padding-right: 10px;
$card-padding-left: $card-padding-right;
