body {
  background: #e6e6e7;
}

nav {
  background: #FFCE34;
}

#schedule-controls a {
  background: #ADADB1;
  border-color: #e6e6e7;
}

#schedule-controls a.active {
  background: #FFCE34;
}

.timeblock-header span, 
.timeblock-header .fa {
  background: #e6e6e7;
}

h2 {
  color: #FC913A;
}

#page-links a.active {
  color: #FC913A;
}

.logo .fa {
  color: #FFF;
  font-size: 50px;
  margin-top: 5px;
}

.session-card, 
.open-block, 
.tag-list-item,
.category-list-item:nth-child(2n+1) {
  background: white;
}
